header {
  background-color: #376e6f;
  padding-top: 5px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px 5px #2e151b;
  color: #ffffff;
}
 {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c3334;
}

/* Navigation Bar */
.topnav {
  padding: 20px;
  background-color: #2e151b;
  text-align: center;
}
/* Navigation Bar links */
.topnav a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

/* Nav bar hover */
.topnav a:hover {
  background-color: #da7b93;
  padding: 20px;
  color: black;
}

* {
  box-sizing: border-box;
}
/* Columns that float */
.column {
  float: left;
  padding: 20px;
  height: 500px;
}

.left {
  width: 60%;
}
.dog {
  float: right;
}
.aboutme {
  border-radius: 25px;
  background-color: #376e6f;
  height: auto;
  width: 100%;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
  border: 10px double #2e151b;
}
.webdev {
  border-radius: 25px;
  background-color: #376e6f;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border: 10px double #2e151b;
}

.right {
  width: 40%;
}

#scrollbar {
  background: #2e151b;
  color: #da7b93;
  padding: 5px;
  width: 100%;
  height: 200px;
  overflow: scroll;
  border: 2px solid #da7b93;
}
.hobbies {
  border-radius: 25px;
  background-color: #376e6f;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-style: double;
  margin-right: 50px;
  margin-left: -10px;
  border: 10px double #2e151b;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
